<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">ChatGPT</h1>
  </div>
  
  <%=form_for :question, url: root_path, data: { reflex: "submit->ChatGpt#submit"} do |form| %>
    <h2 class="font-bold text-2xl">Lets talk with GPT</h2>
    <%=form.text_field :q, placeholder: 'Ask something...', class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 my-2 w-full" %>
    <%=form.submit "Submit your question", class: 'rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer' %>
    <div id="gpt_answer"></div>
  <% end %>

  <div class="mt-4 flex justify-between items-center">
    <h1 class="font-bold text-4xl">Movies</h1>
  </div>

  <div class="mt-4 flex justify-between items-center">
    <h2 class="font-bold text-2xl">Creating a movie using broadcast</h2>
  </div>

  <%=render partial: "movies/form", locals: {movie: Movie.new}%>

  <hr class="my-2" />

  <div class="mt-4 flex justify-between items-center">
    <h2 class="font-bold text-2xl">Creating a movie using stimulus reflex</h2>
  </div>

  <div id="stimulus_form">
    <%=render partial: "movies/stimulus_form", locals: {movie: Movie.new}%>
  </div>

  <hr class="my-2" />
  <%=render partial: "movies/form", locals: {movie: Movie.new}%>

  <div class="my-2">
    <h2 class="font-bold text-2xl">Search movies</h2>
    <%=text_field_tag :q, params[:q], data: {reflex: "keyup->Home#search"}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <%=turbo_stream_from :movies %>
  <div id="movies" class="min-w-full">
    <%= render @movies %>
  </div>
</hr>
