<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Movies</h1>
  </div>

  <%=render partial: "movies/form", locals: {movie: Movie.new}%>

  <div class="my-2">
    <h2 class="font-bold text-2xl">Search movies</h2>
    <%=text_field_tag :q, params[:q], data: {reflex: "keyup->Home#search"}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <%=turbo_stream_from :movies %>
  <div id="movies" class="min-w-full">
    <%= render @movies %>
  </div>
  
</div>
